build/

*.xcodeproj/*.mode2v3
*.xcodeproj/*.mode1v3
*.xcodeproj/*.pbxuser
*.xcodeproj/xcuserdata/*
*.xcodeproj/project.xcworkspace/xcuserdata/*

.DS_Store
**/*.pbxuser
**/*.perspectivev*

xkcd.xcodeproj/project.xcworkspace/xcshareddata/xkcd.xccheckout
