<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Q</key>
		<string>How do you view the title text?</string>
		<key>A</key>
		<string>Touch and hold on the comic image.</string>
	</dict>
	<dict>
		<key>Q</key>
		<string>How do you search?</string>
		<key>A</key>
		<string>There&apos;s a search bar above the list of comics.</string>
	</dict>
	<dict>
		<key>Q</key>
		<string>I like the app.</string>
		<key>A</key>
		<string>Yay! Please share the app, leave a nice review in the app store, or write me a short email saying so. It makes me happy.</string>
	</dict>
	<dict>
		<key>Q</key>
		<string>I don&apos;t like the app.</string>
		<key>A</key>
		<string>Bummer. Good thing it was free, eh?</string>
	</dict>
	<dict>
		<key>Q</key>
		<string>I found a bug. I want a new feature.</string>
		<key>A</key>
		<string>Are you a developer? File or +1 an issue (or, better, send a pull request) at https://github.com/paulrehkugler/xkcd. Not a developer? Send me a feedback email, but be sure to read the rest of the FAQ first.</string>
	</dict>
	<dict>
		<key>Q</key>
		<string>Do you write the comic?</string>
		<key>A</key>
		<string>No, Randall Munroe writes xkcd. I don&apos;t know how to get ahold of him.</string>
	</dict>
	<dict>
		<key>Q</key>
		<string>What&apos;s up with comic 404?</string>
		<key>A</key>
		<string>http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html</string>
	</dict>
	<dict>
		<key>Q</key>
		<string>What&apos;s up with comic 1037?</string>
		<key>A</key>
		<string>http://www.reddit.com/r/comics/comments/rnpiw/mindboggling_xkcd_april_fools_comic/</string>
	</dict>
	<dict>
		<key>Q</key>
		<string>I sent you feedback. Why haven&apos;t you replied to me?</string>
		<key>A</key>
		<string>I apologize; I&apos;m very busy. I read and digest every single email I receive, but I don&apos;t always reply to all of them. Oh, and I don&apos;t write back to rude people. If you want a reply, be nice. :)</string>
	</dict>
	<dict>
		<key>Q</key>
		<string>I want an iPad version.</string>
		<key>A</key>
		<string>Yeah, me too.</string>
	</dict>
	<dict>
		<key>Q</key>
		<string>Will you write an app for my (other) favorite web comic?</string>
		<key>A</key>
		<string>Nope. This app is a labor of love (free, no ads), and I don&apos;t love any other webcomics.</string>
	</dict>
	<dict>
		<key>Q</key>
		<string>Who do I have to thank for this app?</string>
		<key>A</key>
		<string>So nice of you to ask! Contributors include: Chris Anthony, Josh Bleecher Snyder, Stuart McHattie, and Paul Rehkugler.</string>
	</dict>
</array>
</plist>
